
@{
    ViewData["Title"] = "SignalR";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/signalr.js"></script>

<h2>SignalR</h2>

<ul id="messagesList"></ul>

<script type="text/javascript">

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("http://localhost:49897/integrationhub?entity=case&entityId=376")
        //.withUrl("http://localhost:49897/integrationhub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.start().catch(err => console.error(err.toString()));


    connection.on("ReceiveMessage", (message) => {
        const encodedMsg = message;
        const li = document.createElement("li");
        li.textContent = encodedMsg
        document.getElementById("messagesList").appendChild(li);
    });

    connection.on("AddArtifact", (message) => {
        const encodedMsg = message;
        const li = document.createElement("li");
        li.textContent = encodedMsg
        document.getElementById("messagesList").appendChild(li);
    });

</script>